body {
	font-family: Arial, Tahoma, Verdana;
	font-size:   86%;
}

/* Login Page */

.login { background-color: #eee; font: .8em Arial, Tahoma, Verdana; color: #777;}
.login #login-box { margin: auto; width: 360px; border: 1px solid #ccc; background-color: #fff; overflow: hidden; padding: 20px; margin-top: 200px; border-radius: 10px; }
.login #logo { float: left; background: url(../images/redbg.gif) repeat-x; padding: 100px 25px 15px; margin: -46px 30px 20px 0px; }
.login #logo h1 { text-shadow: 1px 1px 1px #7E0E0E; color: #fff; font-size: 1.6em; font-weight: normal; }
.login a { text-decoration: none; color: #fff; }
.login .version-tag { float: right; width: 70px; font-size: .8em; color: #aaa; text-shadow: 1px 1px 1px #ccc; text-align: right; }
.login .version-tag a, .login .version-tag a:link, .login .version-tag a:visited { color: #777; }
.login .version-tag a:hover { text-decoration: underline; }
.login input.text { width: 146px; padding: 2px; border: 1px solid #ccc; }

/* Main Admin */

h1 { margin: 0 0 0.5em 0; }

h3, h4 { font-size: 1.1em; background: #EEF; border: 1px solid #BBB; border-width:	0 0 1px; padding: 7px 10px; margin: 0; }

.console-input, .command-input { padding: 2px; }

.log { width: 100%; overflow: auto; }

.message { font-size: 80%; }

.info { color: #666; }
.out { color: #999; }
.warn { color: #C60; }
.error { color:#FF0000; }
.chat { color:#000;}

#status p { margin-bottom: 0; }

#server-console, #yams-log { font-size: 80%; }

/*#console-tab, #chat-tab { padding: 0; }*/

.ui-layout-east,
.ui-layout-east .ui-layout-content { padding: 0; overflow: hidden; }
.ui-layout-center { padding: 0; overflow: hidden; }

.ui-widget { font-size: 1em; }
.ui-dialog-content { font-size: 98% }

.ui-accordion .ui-accordion-content { padding: 0.5em; }
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-widget-header  { font-weight: normal; }

.ui-tabs .ui-tabs-panel { overflow: auto; padding: 0; }

/*#players { background-color: #fff; margin: 5px; overflow: auto; border: 1px solid #000; }*/
#players .player { font-size: 10px; padding-left: 16px; }
#players .player.op { background: url(../images/icons/award_star_gold_3.png) no-repeat left center; }


.version-label, .version-number, .app-label, .app-checkbox { width: 48%; float: left; }
.version-label, .app-label { font-weight: bold; text-align: right; padding-right: 5px; }
.version-number, .app-checkbox { text-align: left; }

.app-label { clear: both; }

.port-number input { width: 50px; }

fieldset { border: 1px solid #999; text-align: left; padding: 10px; }
legend { margin: 0px 5px; padding: 0px 2px; font-size: 80%; }
label { width: 150px; float: left; text-align: right; padding-right: 10px; }

#jobs-table { width: 100%; }
#jobs-table th { color: #fff; background-color: #000; }

.icon { display: block; height: 16px; width: 16px; }

.delete { background-image: url(../images/icons/delete.png); }

/* Menu */
em#yamslabel { text-indent: -6em; display: block; background: url(../images/YAMS-Icon.png) center center no-repeat; width: 2em; overflow: hidden; }
#filemenu.visible .yuimenuitemlabel, #editmenu.visible .yuimenuitemlabel { *zoom: 1; }
#filemenu.visible .yuimenu .yuimenuitemlabel { *zoom: normal; }            
.yui-skin-sam .yui-layout .yui-layout-unit-top .yui-layout-wrap div.yui-layout-bd {	border: none; }

/* Context Menu */
.contextMenu LI.tp A { background-image: url(../images/icons/user_go.png); }
.contextMenu LI.xp A { background-image: url(../images/icons/medal_gold_add.png); }
.contextMenu LI.give A { background-image: url(../images/icons/package_add.png); }
/*.contextMenu LI.gamemode A { background-image: url(../images/icons/user_go.png); }*/
.contextMenu LI.op A { background-image: url(../images/icons/award_star_add.png); }
.contextMenu LI.deop A { background-image: url(../images/icons/award_star_delete.png); }
.contextMenu LI.kick A { background-image: url(../images/icons/bomb.png); }
.contextMenu LI.ban A { background-image: url(../images/icons/user_delete.png); }
.contextMenu LI.banip A { background-image: url(../images/icons/server_delete.png); }
.contextMenu LI.whisper A { background-image: url(../images/icons/user_comment.png); }