<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="Robots" content="index,follow" />
  <meta name="author" content="Luka Cvrk (www.solucija.com)" />
  <meta name="description" content="Yet Another Minecraft Server is an easy way to run your Minecraft server on Windows as a service." />
  <link rel="stylesheet" type="text/css" href="/YAMS/assets/css/screen.css" media="screen" />
  <title>{{ page.title }} | Yet Another Minecraft Server (YAMS) @ GitHub </title>
  <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-3161529-3']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  </script>
</head>
<body>
  <a href="http://github.com/richardbenson/YAMS"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>  
  <div id="content">
      <div class="addthis_toolbox addthis_default_style " addthis:url="http://richardbenson.github.com/YAMS">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
        <a class="addthis_button_tweet"></a>
        <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
        <a class="addthis_counter addthis_pill_style"></a>
     </div>      
    <p id="top">The vanilla Minecraft Server (SMP) experience on Windows without the hassle</p>
    <div id="logo">
      <h1><a href="index.html"><abbr title="Yet Another Minecraft Server">YAMS</abbr></a></h1>
    </div>
    <ul id="menu">
      <li><a href="/YAMS/index.html">Home</a></li>
      <li class="current"><a href="/YAMS/news/">News</a></li>
      <li><a href="/YAMS/about.html">About</a></li>
      <li><a href="/YAMS/usage.html">Usage</a></li>
      <!--<li><a href="#">Work</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>-->
    </ul>
    <div class="line"></div>
    <div class="left">
      <h1>News</h1>
      {% assign posts_collate = site.posts %}
      {% include helpers/posts_collate.html %}
    </div>
    <div class="right">
      {{ content }}
    </div>
    <div id="footer">
      <p>&copy; Copyright 2011 Richard Benson &minus; Design: Luka Cvrk, <a href="http://www.solucija.com" title="Free CSS Templates">Solucija</a></p>
    </div>  
  </div>

<!-- AddThis Button BEGIN -->
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f02f3e2110c2222"></script>
<!-- AddThis Button END -->  

</body>
</html>